<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/1.css'%}">
  <style>

  </style>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 href="" class="active"> Sign In </h2>
    <h2 onclick="window.location.href='/signup'" class="inactive underlineHover">Sign Up </h2>
    <strong>Hi User!</strong> {{error}}.
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static "images/1.webp" %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="post">
      {% csrf_token %}
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="login">
      <input type="password" id="password1" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
<!--    <div id="formFooter">-->
<!--      <a class="underlineHover" href="#">Forgot Password?</a>-->
<!--    </div>-->

  </div>
</div>
</body>
</html>