





<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
</head>


<div class="container">
    <div class="jumbotron">
        <br>
        <h2 class="text-center alert alert-info">All Employee Record</h2>
<br>
<div align="right">
            <a class="alert btn-primary btn-lg btn-block" href="{% url 'logout' %}">logout</a>
        </div><br>
<div align="center">
            <a class="alert btn-primary btn-lg btn-block" href="/home">Go To Home Page</a>
<!--            <a class="alert btn-primary btn-lg btn-block" href="{% url 'logout' %}">logout</a>-->
            <a class="alert btn-primary btn-lg btn-block" href="/AddRec">Add New Record</a>
            <a class="alert btn-primary btn-lg btn-block" href="/ShowRec">Show All Record</a>
<!--            <a class="alert btn-primary btn-lg btn-block" href="/ShowRec">Edit Record</a>-->
<!--            <a class="alert btn-primary btn-lg btn-block" href="/ShowRec">Delete Record</a>-->
<!--            <a class="alert btn-primary btn-lg btn-block" href="/SearchRec">Search Record</a>-->
        </div>
<br><br>
        <h4 style="color:red">Hello, {{request.session.username}}</h4>
        <body>
  <table id ="example" class = "table table-bordered">
        <thead class = "alert-success">
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Contact</th>
                <th>Employee Salary</th>
                <th>Employee Email</th>
                <th>Employee Address</th>
                <th>Delete Record</th>
                <th>Edit Record</th>
            </tr>
        </thead>
        <tbody>
            {% for member in all_members %}
            <tr>
                <td align="center">{{ member.EmpId }}</td>
                <td align="center">{{ member.EmpName }}</td>
                <td align="center">{{ member.EmpContact }}</td>
                <td align="center">{{ member.EmpSal }}</td>
                <td align="center">{{ member.EmpEmail }}</td>
                <td align="center">{{member.EmpAddress}}</td>
                <td align="center"><a  class="btn btn-danger" href="/DeleteRec/{{ member.id }}">Delete</a></td>
                <td align="center"><a  class="btn btn-warning" href="/EditRec/{{ member.id }}">Edit</a></td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  <script>
  $(function(){
    $("#example").dataTable();
  })

$('#example').dataTable({
            oLanguage: {sLengthMenu: "Show <select>"+
            "<option value='10'>10</option>"+
            "<option value='25'>25</option>"+
            "<option value='50'>50</option>"+
            "<option value='100'>100</option>"+
            "<option value='-1'>All</option>"+
            "</select> entries"},
            "iDisplayLength": 10
        });




  $(document).on('click', '.confirm-delete', function(){
    return confirm('Are you sure you want to delete this?');
  });
  </script>
</body>
    </div>
</div>
</html>